@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
.attribution { font-size: 11px; text-align: center; margin-top: 2rem;}
.attribution a { color: hsl(228, 45%, 44%); }
*{
  box-sizing: border-box;
} 
body{
 height: 100vh;
 width:100%;
 display: flex;
 flex-direction: column;
 background-color: hsl(225, 100%, 94%);  
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: "Red Hat Display", sans-serif;
 background-image: url("images/pattern-background-desktop.svg");
 background-repeat: no-repeat;
 background-size: 100% ;
 background-blend-mode: multiply; 
 
}
.big-container{
  margin-top: 10rem;
  height: auto;
  width:auto;
  max-width:420px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.img{
width:100%;
overflow: hidden;
}
.img img{
  object-fit: cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  width:100%;
  
} 
.header{
  width:100%;
  text-align: center;
}
.header h1{
  margin:0;
  margin-top: 2rem;
  color:hsl(223, 47%, 23%);
}
.par{
  width:100%;
  text-align: center;

}
.par p{
  width:90%;
  padding-left:2rem;
  line-height: 1.5rem;
  color:hsl(224, 23%, 55%);
  
}
.order-plan{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:  hsl(225, 100%, 98%);
  width:90%;
  border-radius: 1rem;

}
.order-plan img{
  height:70%;
  padding-right: 2rem;
}
.order-plan p{
  padding-left: 0;

  
  
}
.order-plan a{
  padding-left: 5.5rem;
  color:hsl(245, 75%, 52%);
  text-decoration: underline;
}
.music{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}
.music p{
  margin-left:0 ;
  color:hsl(223, 47%, 23%);
  padding-left:0.6rem;
  font-size: 17px;
  font-family: "Red Hat Display", sans-serif;
}
.music span {
  color:hsl(224, 85%, 28%);
  font-size: 21px;
  font-family: "Itim", cursive;
}
.music img{
  margin: 0;
  margin-left:1rem;
  padding-right: 0.4rem;
}
.btn{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn button{
  margin-left :0.2rem;
  margin-top: 2rem;
  width:80%;
  height:2.8rem;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  border:none;
  color:white;
  box-shadow: 5px 7px 7px hsl(224, 23%, 55%);
}
.cancel{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color:hsl(224, 23%, 55%);
  margin-bottom: 1.5rem;
  margin-top: 1.3rem;
  
}
.btn button:hover{
  opacity: 0.8;
  cursor: pointer;
}
.order-plan a:hover{
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none;
}
.cancel a:hover{
  color:black;
  cursor: pointer;
}
